rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read: if signedIn();
      allow create, update, delete: if signedIn() && request.auth.uid == userId;
    }

    match /patients/{patientId} {
      allow read: if signedIn() && request.auth.uid == resource.data.physioId;
      allow create: if signedIn() && request.auth.uid == request.resource.data.physioId;
      allow update, delete: if signedIn() && request.auth.uid == resource.data.physioId;
    }
  }
}
